{% extends "base.html" %}

{% block content %}
    <ol class="breadcrumb">
      <li class="active">Overzicht</li>
    </ol>
    {% if request.user.is_staff %}
        <p>Ingelogd als organisator</p>
    {% endif %}
    {% if open_not_voted_questions %}
        <h2>Stemmen</h2>
        {% for question in open_not_voted_questions %}
            {% if request.user.is_staff %}
                <a class="btn btn-default btn-block" href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
            {% else %}
                <a class="btn btn-primary btn-block" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% if open_voted_questions %}
        <h2>Reeds gestemd</h2>
        {% for question in open_voted_questions %}
            <a class="btn btn-default btn-block" href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
        {% endfor %}
    {% endif %}
    {% if closed_questions %}
    <h2>Gesloten stemmingen</h2>
        {% for question in closed_questions %}
            <a class="btn btn-default btn-block" href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
        {% endfor %}
    {% endif %}
{% endblock %}
