{% extends "base.html" %}

{% block content %}
    {% if request.user.is_staff %}
        <p>Ingelogd als organisator</p>
    {% endif %}
    {% if question_list %}
        <h2>Open stemmingen</h2>
        {% for question in question_list %}
            {% if question.question_open %}
                {% if request.user.is_staff %}
                    <a class="btn btn-default btn-block" href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
                {% else %}
                    <a class="btn btn-default btn-block" href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <h2>Gesloten stemmingen</h2>
        {% for question in question_list %}
            {% if not question.question_open %}
                <a class="btn btn-default btn-block" href="{% url 'polls:results' question.id %}">{{ question.question_text }}</a>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>Er staan op dit moment geen stemmingen open.</p>
    {% endif %}
{% endblock %}
