{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
    <form class="form-signin" method="post">
        <h2 class="form-signin-heading">Inloggen</h2>
        {% csrf_token %}
        <label class="sr-only" for="id_username">Username:</label>
        <input class="form-control" type="text" name="username" autofocus required id="id_username" maxlength="254" placeholder="Gebruikersnaam" />
        <label class="sr-only" for="id_password">Password:</label>
        <input class="form-control" type="password" name="password" required id="id_password" placeholder="Wachtwoord" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
{% endblock %}
